<div class="container-fluid">
  <div class="wrapper">
    <div class="row">
      <div class="col-xs-12">
        <h1 class="name">
          My Contents
        </h1>
        <section class="inform">
          <h1>INFORM BACKET</h1>
          <div class="URL">
            Go to
            <a href="https://arcane-badlands-67342.herokuapp.com/">
              <div class="btn btn-default btn-sm">
                InformBacket
              </div>
            </a>
            or
            <a href="https://github.com/KawamotoShuji/sxdsns">
              <div class="btn btn-default btn-sm">
                Github
              </div>
            </a>

          </div>
          <img src="<%= asset_path "informbacket.png" %>">
        </section>
        <section class="skill container-fluid">
          <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
              <div class="skill-list">
                <img src="<%= asset_path "ruby.png" %>">
                <img src="<%= asset_path "rails.png" %>">
                <img src="<%= asset_path "html5.png" %>">
                <img src="<%= asset_path "css3.png" %>">
                <img src="<%= asset_path "mysql.png" %>">
                <img src="<%= asset_path "github.png" %>">
              </div>
            </div>
          </div>
        </section>
        <!-- <%= link_to '作品に対するコメントを送る', new_content_path, class: 'btn btn-default btn-sm'%> -->
        <section class="description container-fluid">
          <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
              <p>
                研究室内の3年生で掲示板のように気軽に情報を共有できたらいいなと思ったことがきっかけで、LINEで発言がしにくかったり小さいことでも個人的に話し合いたいことがあればここで話し合えます。
                コンセプトは情報の細分化です。
                Githubを利用して、4人でチーム開発しました。
              </p>
            </div>
          </div>
        </section>

        <section class="inform">
          <h1>SHUJIGRAM</h1>
          <div class="URL">
            Go to
            <a href="https://protected-sea-20140.herokuapp.com/">
              <div class="btn btn-default btn-sm">
                Shujigram
              </div>
            </a>
            or
            <a href="https://github.com/KawamotoShuji/modokiram">
              <div class="btn btn-default btn-sm">
                Github
              </div>
            </a>
          </div>
          <img src="<%= asset_path "shujigram.png" %>">
        </section>
        <section class="skill container-fluid">
          <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
              <div class="skill-list">
                <img src="<%= asset_path "ruby.png" %>">
                <img src="<%= asset_path "rails.png" %>">
                <img src="<%= asset_path "html5.png" %>">
                <img src="<%= asset_path "css3.png" %>">
                <img src="<%= asset_path "mysql.png" %>">
                <img src="<%= asset_path "github.png" %>">
                <img src="<%= asset_path "coffee.png" %>">
                <img src="<%= asset_path "bootstrap.png" %>">
                <img src="<%= asset_path "s3.png" %>">
              </div>
            </div>
          </div>
        </section>
        <!-- <%= link_to '作品に対するコメントを送る', new_content_path, class: 'btn btn-default btn-sm'%> -->
        <section class="description container-fluid">
          <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
              <p>
                Ruby On Railsを理解していく過程として、簡単なSNS的なものを作ろうと考えインスタグラムを真似してみました。
                とにかくなんでもやってみようということでSNSログインやメール承認機能や管理者画面などを搭載してみました
                S３により画像が消えないようにしました。
                また、ブートストラップで携帯にも対応させたりインスタグラムに雰囲気を似せるためにCSSをかなりこだわりました。
                初心者なのでかなりエラーが出ましたがなんとか乗り越えました。
              </p>
            </div>
          </div>
        </section>

        <section class="inform">
          <h1>Comfusion Comix</h1>
          <div class="URL">
            Go to
            <a href="https://youtu.be/cc5xSpI9d6s">
              <div class="btn btn-default btn-sm">
                Confusion Comix
              </div>
            </a>
          </div>
          <img src="<%= asset_path "confusion.png" %>">
        </section>
        <section class="skill container-fluid">
          <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
              <div class="skill-list">
                <img src="<%= asset_path "imovie.png" %>">
                <img src="<%= asset_path "mind.png" %>">
              </div>
            </div>
          </div>
        </section>
        <!-- <%= link_to '作品に対するコメントを送る', new_content_path, class: 'btn btn-default btn-sm'%> -->
        <section class="description container-fluid">
          <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
              <p>
                大学の授業で制作しました。
                ターゲットユーザーは漫画を趣味で書いていて、一人ではなく大人数で漫画を作り上げたい人向けです。
                提供価値は、それぞれが一コマを担当するのでその後の展開が読めなくワクワクするところです。
                カスタマージャーニーマップ、ペルソナ、二軸チャート、マインドマップ、prottなどを使用し、企画からビデオプロトタイプまで行いました。
                授業内では全体で3位になることができました。
                是非ビデオプロトタイプの動画もご覧ください。
              </p>
            </div>
          </div>
        </section>

      </div>
    </div>
  </div>
</div>
